.emoji-card{
    list-style-type: none;  
    height: 160px;
    width: 160px;
    background-color: #bbbbfa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 1;
    border: 3px solid #ffffff30;
    margin: 10px;
}
.emoji-img{
    height: 100px;
    width: 100px;
}
.emoji-btn{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

@media all and (max-width:767px){
    .emoji-card{
        height: 120px;
        width:120px;
    }
    .emoji-img{
        height: 70px;
        width: 70px;
    }
}