.main-container {
    background-image: linear-gradient(to right bottom, #9796f0, #c6c6fb);
    min-height: 100vh;
  }
  .bottom-section {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    
  }
  .emoji-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 800px;
    height: 70%;
    padding-top: 20px;
  }
  
  @media all and (max-width:767px){
    .bottom-section{
      align-items: center;
    }
    .emoji-list{
      width: 500px;
      padding-top: 60px;
    }
    
  }