.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  align-items: center;
  min-width: 80vw;
  padding: 0px 12px;
}
#appIcon{
  width: 24px;
  height: 24px;
  
}

.app-icon{
  width: 25px;
  height: 25px;
}
.history-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title,
.time-accessed,
.domainUrl {
  font-size: 12px;
  padding: 4px;
}
.time-accessed,
.domainUrl {
  color: #475569;
}
.domainUrl {
  opacity: 84%;
}
.time-accessed {
  font-weight: 900;
}

.app-container {
  display: flex;
  align-items: center;
}
.button {
  background: transparent;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.title-container {
  display: flex;
  align-items: center;
}

@media all and (max-width:767px) {
  .app-container{
    display: flex;
    flex-direction: row;
justify-content: space-around;
    align-items: center;
    min-width: 130px;
    
  }
  .title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .history-details{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .list{
    justify-content: space-between;
    padding: 8px;
    height: 94px;
  }
  .title,
.time-accessed,
.domainUrl {
  font-size: 12px;
  padding: 0px;
}
}