.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  padding: 0px 20px;
  align-items: center;
}
.app-icon {
  width: 30px;
  height: 30px;
}
.history-details {
  display: flex;
  flex-direction: row;
  width: 70vw;
  align-items: center;
}
.title,
.time-accessed,
.domainUrl {
  font-size: 12px;
  padding: 4px;
}
.time-accessed,
.domainUrl {
  color: #475569;
}
.domainUrl {
  opacity: 84%;
}
.time-accessed {
  font-weight: 900;
}

.app-container {
  display: flex;
}
.button {
  background: transparent;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.title-container {
  display: flex;
}
