.result-img{
    height: 300px;
    width: 250px;
}

.win-lose-container{
    display: flex;
    color: white;
    background-color: #bbbbfa;
    box-shadow:1px 1px 4px 2px#e4e4f5;
    padding: 30px;
    border-radius: 20px;
    margin-top: 100px;
}
.text{
    text-align: center;
}
.result{
    font-size: 44px;
}
.para{
    font-size: 24px;
    font-weight: 900;
}
.scores{
    color:#6a59ff;
    font-size: 30px;
    font-weight: 900;
}
.button{
    background-color: #ffce27;
    border-radius: 8px;
    border: 0px;
    height: 34px;
    width: 100px;
    font-size: 12px;
    font-weight: 800;
    color: #3d3d3d;
    cursor: pointer;

}

@media all and (max-width:767px){
    .win-lose-container{
        width: 80%;
    }
    .result-img{
        height: 240px;
        width: 180px;
    }
    .result{
        font-size: 38px;
    }
} 