.navbar-container{
    background-image:linear-gradient(to right, #9796f0, #c6c6fb);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    padding: 8px 60px;
    box-shadow: 2px 1px 20px #c6c6fb;
}

.nav-logo-cont, .score-cont{
    display: flex;
    justify-content: space-around;
    width: 140px;
    color: #ffffff;
    font-weight: 900;
}
.score-cont{
    width: 250px;
    flex-shrink: 1;
}

@media all and (max-width:767px){
    .navbar-container{
        height: 60px;
        padding: 8px 20px;
    }
    .score-cont{
        width: 180px;
    }
    .nav-logo-cont{
        width: 150px;
    }
}