.main-container{
    background-image: linear-gradient(#fbc7d4, #9796f0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    background-size: cover;
}
.card{
    background-color: #ffffff;
    min-width: 70vw;
    padding: 30px;
    border-radius: 12px;
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.main-img{
    height: 300px;
    width: 420px;
}
.heading{
    font-size: 36px;
    color: #171f46;
}
.title-container, .date-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 0px;
}
.title-input, .date-input{
    height: 36px;
    width: 270px;
    font-size: 12px;
    outline: none;
    opacity: 0.8;
}
.label{
    color: #b5b7c4;
    font-size: 16px;
    padding-bottom: 4px;
}
.button{
    font-size: 12px;
    background-color: #8b5cf6;
    border: 0px;
    height: 30px;
    width: 70px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;

}
hr{
    height: 2px;
    margin-top: 20px;
}
.bottom-text-container{
    display: flex;
    justify-content: space-between;
}
.starred-btn{
    height: 28px;
    width: 70px;
    font-size: 12px;
    color: #8b5cf6;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #8b5cf6;
    cursor: pointer;
    margin-top: 33px;
}
@media all and (max-width:767px){
    .main-img{
        display: none;
    }
}

.appointment-list{
    display: flex;
    flex-wrap: wrap;
}

@media  all and (max-width:767px) {
    .heading{
        font-size: 20px;
    }
    .title-input, .date-input{
        height: 30px;
        width: 270px;
        font-size: 12px;
        outline: none;
        opacity: 0.8;
    }
    .label{
        color: #b5b7c4;
        font-size: 13px;
        padding-bottom: 4px;
    }
    .starred-btn{
        margin-top: 17px;
    }
    .date-input{
        border: 1px solid grey;
    }
}