.thumbnail-item{
    list-style-type: none;
    margin-right: 5px;
    align-self: flex-start;
}
.icon{
    height: 60px;
    width: 60px;
    cursor: pointer;
    opacity: 0.5;
}
.active-icon{
    opacity: 1;
}
button{
    background-color: white;
    border: 0px;
}